#  The only module really needed here is beautifulsoup. The rest are to show the difference between caching and not.
beautifulsoup4==4.12.2
# Several of these modules should take a decent amount of time to install (without caching. No cache == have to install fresh each time) 
numpy>=1.26.0,<2
pandas==2.1.1
scipy>=1.12.1
matplotlib==3.8.0
scikit-learn==1.3.2
requests==2.32.0
lxml==4.9.3
pytz==2023.3
pytest==8.4.0