# Scenario: 
# A large organization "org-mushroom-kingdom" owns an app called "Toad Town News" 
# The frontend and backend are in their own repositories. Future repositiories are an inevitability.
# There is also a separate repository ttn-workflows solely for resuable workflows used for the development of Toad Town News.   
# In this organization, it is a standard across repositories to include a specific changelog file in their release branch  
# This file should begin with "CHANGELOG", followed by an underscore (_), followed by the piece of the project they're working on (taken from the repo name)
# Repositories and release branches are named in a standardized way. The changelog file name should be formed from a combination of these.
# ex. The frontend repo is named org-mk/ttn-frontend. 
#     A release branch in it is named release/v1.0. 
#     The changelog file should be named ----------------> CHANGELOG-frontend-v1.0.txt
# The ttn-workflows has a reusable workflow (this one) with these qualities:
#     Uses env and github context to get the repo name, source branch (release branch) name, and other relevant crap
#     ****Checks out the ttn-workflow repo****
#     Sets up Python 
#     Runs Python Script to do some of the work. 
#     Note: Originally had planned on setting up virtual environment, but don't think it's really needed here. You COULD make it a TODO if desired, it's not hard to implement.
#     Python script sets a var to "True" or "False" depending on if the checks pass
#     Python script then writes the value of that var to a Github env var CHANGELOG_CHECK_PASSED  
#     If the value of CHANGELOG_CHECK_PASSED is "True":
#          The workflow prints a message saying the changelog file checks have passed.
#          The workflow exits with a 0 (success)
#     If the value of CHANGELOG_CHECK_PASSED is "False": 
#          The workflow prints a message saying the changelog file doesn't exist or has a bad naming convention.
#          TODO: This message should comment that gets posted to the PR in the future. 
#          This comment should also show what the expected naming convention should be for the changelog file
#          The workflow exits with a 1 (failure)

#          
# In the frontend and backend repo, there is a caller workflow that:
#     Is fired off when a PR opened whose source branch begins with "release" and whose target branch is "main"
#     Has a token with repo permissions that can be used to checkout the ttn-actions repo
#     When it's fired off, calls the reusable workflow using the token

name: Changelog Check (Exists and Naming)

on:
  
  workflow_dispatch:
    # Mix and match these to create various scenarios. First option for each = happy path.
    inputs:
        exp_changelog_filename_man:
            description: 'Expected CHANGELOG filename'
            required: true
            type: choice
            options:
                - 'CHANGELOG_frontend_v1.1.txt'
                - 'CHANGELOG_backend_v1.2.txt'
        pr_num_man:
            description: 'Manual PR number (changed files)'
            required: true
            type: choice
            options:
                - '2 - CHANGELOG_frontend_v1.1.txt'
                - '3 - CHANGELOG_backend_v1.2.txt'
                - '4 - CHANGELOG_backend_v1.1.txt,CHANGELOG_backend_v1.2.txt'
                - '5 - dummy-file.txt'

  workflow_call:
    secrets:
        # From caller workflow, has repo and workflow permissions
        token:
            required: true
    # TODO: Mess with these in the future.
    outputs:
        status_code:
            description: "Status code: Result of CHANGELOG file exists and named properly"
            value: "TBD"
        output_message: 
            description: "Specific message based on presence and proper naming of CHANGELOG file"
            value: "TBD"
        
jobs:
  changelog-check:
    name: "Changelog file check job"
    runs-on: ubuntu-latest
    env:
        REPO: ${{ github.repository }}
        PR_NUMBER: ${{ github.event.pull_request.number }}
        SOURCE_BRANCH: ${{ github.head_ref }}
        TARGET_BRANCH: ${{ github.base_ref }}
        REPO_PATH: "."
        CHANGED_FILES_STR: ""
        RED: "\e[31m"
        GREEN: "\e[32m"
        RESET: "\e[0m"
    steps:
      
        # This will checkout the caller repo if event is workflow_call
        - name: Checkout repo
          uses: actions/checkout@v4

        # If testing manually in the ttn-workflows repo ONLY, manually set the PR_NUMBER
        - name: 'Manual run: Set PR_NUMBER, SOURCE_BRANCH, EXPECTED_CHANGELOG_FILENAME'
          if: env.REPO=='org-mushroom-kingdom/ttn-workflows' && github.event_name == 'workflow_dispatch'
          run: |
            pr_num_man_input="${{ inputs.pr_num_man }}"
            pr_num="${pr_num_man_input:0:1}"
            echo "Setting PR_NUMBER = ${pr_num}" 
            echo "PR_NUMBER=$pr_num" >> $GITHUB_ENV
            echo "Setting EXPECTED_CHANGELOG_FILENAME = ${{ inputs.exp_changelog_filename_man }}" 
            echo "EXPECTED_CHANGELOG_FILENAME=${{ inputs.exp_changelog_filename_man }}" >> $GITHUB_ENV
        
        - name: Echo relevant vars
          run: |
            echo "REPO = $REPO" 
            echo "PR_NUMBER = $PR_NUMBER" 
            echo "SOURCE_BRANCH = $SOURCE_BRANCH" 
            echo "EXPECTED_CHANGELOG_FILENAME = $EXPECTED_CHANGELOG_FILENAME" 
            echo "github.action_path = ${{ github.action_path }}" 

        - name: Set expected CHANGELOG filename
          if: github.event_name != 'workflow_dispatch'
          run: |
            # Remove the longest (##) instance of 'release/' from the branch name (ex. 'release/v1.0' --> 'v1.0')
            # Note the REPO environmental variable isn't prefixed with $. You can't use "${$REPO...}" as this gives a 'bad substitution' error
            # When using Bash parameter expansion ${} with Github environmental variables, you don't need to use a $ inside the {} for the first variable--it's just like regular Bash 
            repo_ttn_type="${REPO##*org-mushroom-kingdom/ttn-}"
            release_version="${SOURCE_BRANCH##*release/}"
            
            expected_changelog_filename="CHANGELOG_${repo_ttn_type}_${release_version}.txt"
            echo "expected_changelog_filename = ${expected_changelog_filename}"
            echo "EXPECTED_CHANGELOG_FILENAME=${expected_changelog_filename}" >> $GITHUB_ENV

        - name: Get PR changed files 
          run: |
            mapfile -t changed_full_files < <(gh api \
                -H "Accept: application/vnd.github+json" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                -H "Authorization: Bearer $GH_TOKEN" \
                /repos/$REPO/pulls/$PR_NUMBER/files | jq -r '.[].filename')
            changed_files=()
            for changed_full_filename in "${changed_full_files[@]}"
            do
              changed_filename="${changed_full_filename##*/}"
              # echo "changed_filename=${changed_filename}"
              changed_files+=("$changed_filename")
            done
            
            echo "changed_files = ${changed_files[@]}"
            IFS=","
            # Expand the array to a single string using IFS as delimiter
            changed_files_str="${changed_files[*]}"
            echo "changed_files_str = $changed_files_str"
            echo "CHANGED_FILES_STR=${changed_files_str}" >> $GITHUB_ENV

        - name: Setup Python 3.13 
          uses: actions/setup-python@v6
          with:
            python-version: '3.13' 

        - name: Checkout ttn-workflows repo (if non-manually triggered)
          if: github.repository != 'org-mushroom-kingdom/ttn-workflows'
          uses: actions/checkout@v4
          with:
            repository: org-mushroom-kingdom/ttn-workflows
            path: ttn-workflows-repo
            token: ${{ secrets.token }}

        - name: Set REPO_PATH (if non-manually triggered)
          if: github.repository != 'org-mushroom-kingdom/ttn-workflows'
          run: |
            echo "REPO_PATH=ttn-workflows-repo" >> $GITHUB_ENV

        - name: Grant Execute Permission to Python Script
          run: chmod +x $REPO_PATH/scripts/changelog-quality-check.py

        - name: Run Python Script
          run: python $REPO_PATH/scripts/changelog-quality-check.py "$CHANGED_FILES_STR" "$EXPECTED_CHANGELOG_FILENAME"

        - name: Echo CHANGELOG_MSG (set from Python Script)
          run: |
            if [[ "$CHANGELOG_MSG" == *"matches"* ]]
            then
              echo -e "$GREEN $CHANGELOG_MSG $RESET"
            else
              echo -e "$RED $CHANGELOG_MSG $RESET"
            fi
        
        # TODO: A multiline comment here will have <br>'s in it. This SHOULD work for Github PR comments but try to replace with \n and see what happens  
        # TODO: The actual comment step. Not needed for article purposes though, so in the clear for now.

        - name: Return status
          run: |
            echo "CHANGELOG_CHECK_PASSED = $CHANGELOG_CHECK_PASSED"
            if [[ "$CHANGELOG_CHECK_PASSED" == "True" ]]
            then
              exit 0
            else
              exit 1
            fi

            




