# Scenario: This is a reusable workflow
# A large organization "org-mushroom-kingdom" owns an app called "Toad Town News" 
# The frontend and backend are in their own repositories. Future repositiories are an inevitability.
# There is also a separate repository solely for resuable workflows used for the development of Toad Town News. That repo is named org-mushroom-kingdom/ttn-actions   
# In this organization, it is a standard across repositories to include a specific changelog file in their release branch  
# This file should begin with CHANGELOG, followed by a dash (-), followed by the piece of the project they're working on
# Repositories and release branches are named in a standardized way. The changelog file name should be formed from a combination of these.
# ex. The frontend repo is named org-mk/ttn-frontend. 
#     A release branch in it is named release/v1.0. 
#     The changelog file should be named ----------------> CHANGELOG-frontend-v1.0.txt
# The ttn-actions has a reusable workflow (this one) with these qualities:
#     Uses env and github context to get the repo name, source branch (release branch) name, and other relevant crap
#     ****Checks out the ttn-actions repo****
#     Sets up Python 
#     Creates a Python virtual environment
#     Installs dependencies needed 
#     Activates the virtual environment
#     In the activated virtual environment, run a Python script located in the ttn-actions repo  TO DO THE BELOW:  // Use path!!!
#          Initialize a changelog_ok variable = 1. This is a status variable that reflects the changelog file is present and correctly named. 
#          Uses the repo name and release branch name to make the expected changelog filename (ex. expected_changelog_name = f"CHANGELOG-{reponame.substring("org-mk/ttn-",2)}-sourcebranchname.substring("release/",2)}).txt"
#          Get the changed files of the PR 
#          Get solely the file names and extensions (ex. /changelogs/CHANGELOG-frontend-v1.0.txt becomes CHANGELOG-frontend-v1.0.txt) and put them in an array
#          Iterates through this 'filenames' array:
#               If a filename matches expected_changelog_name, set changelog_ok = 0, exit iteration early
#               If the end of the array is reached and nothing was matching, do nothing (because changelog_ok was initialized as 1)
#          The script should somehow return this status variable to the ttn-actions workflow (This is possible but I forget how)
#     The workflow saves this status code as an environmental variable CHANGELOG_STATUS
#     Deactivate the virtual environment??
#     
#     If the status code received from the script was 0, the workflow exits as 0
#     If the status code received from the script was 1: 
#          The workflow posts a comment on the PR saying the changelog file doesn't exist or has a bad naming convention.
#          This comment should also show what the expected naming convention should be for the changelog file
#          Then it should exit with 1
#          
# In the frontend and backend repo, there is a caller workflow that:
#     Is fired off when a PR opened whose source branch begins with "release" and whose target branch is "main"
#     Has a token with repo permissions that can be used to checkout the ttn-actions repo
#     When it's fired off, calls the reusable workflow using the token

name: Changelog Check (Exists and Naming)

on:
  
  workflow_dispatch:
    inputs:
        exp_changelog_filename_man:
            description: 'Expected CHANGELOG filename'
            required: true
            type: choice
            options:
                - CHANGELOG_frontend_v1.1.txt
                - CHANGELOG_backend_v1.2.txt
        source_branch_man:
            description: 'Manual source branch name'
            required: true
            type: choice
            options:
                - 'release/frontend/v1.1'
                - 'release/backend/v1.2'
        pr_num_man:
            description: 'Manual PR number (changed files)'
            required: true
            type: choice
            #TODO: Make the PRs with the filenames below, replace X with PR num
            options:
                - "X - CHANGELOG_frontend_v1.1.txt"
                - "X - CHANGELOG_backend_v1.2.txt"
                - "X - CHANGELOG_backend_v1.1.txt,CHANGELOG_backend_v1.2.txt"

  workflow_call:
    secrets:
        # TODO: Rename this hahahaha
        SOMETHING_THAT_DOES_ORG_READ:
            required: true
    outputs:
        status_code:
            description: "Status code: Result of CHANGELOG file exists and named properly"
            value: "TBD"
        output_message: 
            description: "Specific message based on presence and proper naming of CHANGELOG file"
            value: "TBD"
        
jobs:
  changelog-check:
    name: "Changelog file check job"
    runs-on: ubuntu-latest
    env:
        REPO: ${{ github.repository }}
        PR_NUMBER: ${{ github.event.pull_request.number }}
        SOURCE_BRANCH: ${{ github.head_ref }}
        TARGET_BRANCH: ${{ github.base_ref }}
        # Need to replace this with secrets.SOMETHING_THAT_DOES_ORG_READ 
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CHANGED_FILES_STR: ""
    steps:
      
        # This will checkout the caller repo if event is workflow_call
        - name: Checkout repo
          uses: actions/checkout@v4

        # TODO: Rework this 
        # If testing manually in the ttn-workflows repo ONLY, manually set the PR_NUMBER
        - name: 'Manual run: Set PR_NUMBER, SOURCE_BRANCH'
          if: env.REPO=='org-mushroom-kingdom/ttn-workflows' && github.event_name == 'workflow_dispatch'
          run: |
            echo "Setting PR_NUMBER = 1" 
            echo "PR_NUMBER=1" >> $GITHUB_ENV
            echo "Setting SOURCE_BRANCH = release/v1.1" 
            echo "SOURCE_BRANCH=release/v1.1" >> $GITHUB_ENV
        
        - name: Echo relevant vars
          run: |
            echo "REPO = $REPO" 
            echo "PR_NUMBER = $PR_NUMBER" 
            echo "github.action_path = ${{ github.action_path }}" 

        - name: Set expected CHANGELOG filename
          if: github.event_name != 'workflow_dispatch'
          run: |
            # Remove the longest (##) instance of 'release/' from the branch name (ex. 'release/v1.0' --> 'v1.0')
            # Note the REPO environmental variable isn't prefixed with $. You can't use "${$REPO...}" as this gives a 'bad substitution' error
            # When using Bash parameter expansion ${} with Github environmental variables, you don't need to use a $ inside the {} for the first variable--it's just like regular Bash 
            repo_ttn_type="${REPO##*org-mushroom-kingdom/ttn-}"
            release_version="${SOURCE_BRANCH##*release/}"
            
            expected_changelog_filename="CHANGELOG-${repo_ttn_type}-${release_version}.txt"
            echo "expected_changelog_filename = ${expected_changelog_filename}"
            echo "EXPECTED_CHANGELOG_FILENAME=${expected_changelog_filename}" >> $GITHUB_ENV

            # CHANGELOG-ttn-frontend-v1.0

        - name: Get PR changed files 
          run: |
            mapfile -t changed_files < <(gh api \
                -H "Accept: application/vnd.github+json" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                -H "Authorization: Bearer $GH_TOKEN" \
                /repos/$REPO/pulls/$PR_NUMBER/files | jq -r '.[].filename')
            echo "changed_files = ${changed_files[@]}"
            IFS=","
            # Expand the array to a single string using IFS as delimiter
            changed_files_str="${changed_files[*]}"
            echo "changed_files_str = $changed_files_str"
            echo "CHANGED_FILES_STR=${changed_files_str}" >> $GITHUB_ENV

        - name: Setup Python 3.13 
          uses: actions/setup-python@v6
          with:
            python-version: '3.13' 

        # TODO: Use these if below step doesn't work        
        - name: Checkout ttn-workflows repo
          uses: actions/checkout@v4
          with:
            repository: org-mushroom-kingdom/ttn-workflows
            path: ttn-workflows-repo

        - name: Grant Execute Permission to Python Script
          run: chmod +x ttn-workflows-repo/scripts/changelog-quality-check.py

        - name: "Manual run: set EXPECTED_CHANGELOG_FILENAME"
          if: github.repository == 'ttn-workflows' && github.event_name == 'workflow_dispatch'
          run: |
            echo "Manually setting EXPECTED_CHANGELOG_FILENAME to ${{ inputs.exp_changelog_filename_man }}"
            echo "EXPECTED_CHANGELOG_FILENAME=${{ inputs.exp_changelog_filename_man }}" >> $GITHUB_ENV

        - name: Run Python Script
          run: ttn-workflows-repo/scripts/changelog-quality-check.py "ARG1" "ARG2"

        - name: Echo CHANGELOG_MSG (set from Python Script)
          run: echo "CHANGELOG_MSG = $CHANGELOG_MSG"


            




