name: Get Article Titles

on:
  
  workflow_dispatch:

  workflow_call:
    secrets:
      gh-app-key: 
        required: true


jobs:
    # TODO: Get most recent? That could be a fun Bash exercise
    get-article-titles:
        name: Get Article Titles Job
        runs-on: ubuntu-latest
        env:
            REPO_PATH: "."
        
        steps:
            # This will checkout the caller repo if event is workflow_call
            - name: Checkout repo
              uses: actions/checkout@v4
            
            - name: Echo relevant vars
              run: |
                echo "PLACEHOLDER_ENV_VAR = $PLACEHOLDER_ENV_VAR" 
                echo "ttn-workflows-gh-app ID = ${{ vars.TTN_WORKFLOWS_GH_APP_ID }}" 

            - name: Generate GitHub App token
              id: app-token
              uses: actions/create-github-app-token@v1
              with:
                # Note: If setting up this var at repository level, it must be in the caller repository since this is a reusable workflow. (Having it set up at organization-level is easier, provided you have an organization to work with) 
                app-id: ${{ vars.TTN_WORKFLOWS_GH_APP_ID }}
                private-key: ${{ secrets.gh-app-key }}
                owner: org-mushroom-kingdom
                repositories: ttn-workflows
            
            - name: Checkout ttn-workflows repo (if non-manually triggered)
              if: github.repository != 'org-mushroom-kingdom/ttn-workflows'
              uses: actions/checkout@v4
              with:
                repository: org-mushroom-kingdom/ttn-workflows
                path: ttn-workflows-repo
                token: ${{ steps.app-token.outputs.token }}

            - name: Set REPO_PATH
              if: github.repository != 'org-mushroom-kingdom/ttn-workflows'
              run: |
                echo "REPO_PATH=ttn-workflows-repo" >> $GITHUB_ENV

            - name: Read contents of article-titles-1-22-26.txt
              run: cat $REPO_PATH/docs/article-titles-1-22-26.txt
