name: Non-main workflow

on:
  
  workflow_dispatch:

  push:
    

jobs:
  non-main-job:
    name: "Non-main job"
    runs-on: ubuntu-latest
    steps:
        - name: Ping target destination
          run: curl -o - -i https://bored-api.appbrewery.com/random