name: Get Article Titles

on:
  
  workflow_dispatch:

  push:
    

jobs:
  non-main-job:
    name: "Non-main job"
    runs-on: ubuntu-latest
    steps:
        - name: Print something
          run: "Something"