name: Non-main workflow

# Scenario: Say we want to do a basic server connectivity test before deploying to them. Toad Town News is strict with merges to main during certain time periods; this is one of those times.
# In other words, the workflow needs to be tested without being merged to the default branch (main)
# There are multiple ways to do this, thus the variety of triggers.

# WITH THAT IN MIND, treat this file as if it was NOT merged to main (I'm merging it to main to keep things tidy). 
# Treat the comments in the same way.
# TODO ELABORATE?

# The business logic of this workflow is thus:
# For each server in /deploys/server-list.csv: Make GET request to server, print out the server and HTTP status code for each server in a .csv list 
# If HTTP code is 200, print out in green. If HTTP code is NOT 200, print that out in red.
# Such logic can later be elaborated upon to make programmatic deploy decisions (ex. if server X is down, continue with deploy. If server Y is down, don't) 
on:
  
  workflow_dispatch:

  push:
    # When the workflow isn't merged to main, you don't have to specify the feature branch the workflow is on.
    # This is because the push trigger only evalutes workflow files that exist in the branch receiving the push. (See dev.solve)
    branches: [feature/matt-test-workflow-without-main-merge]
    # When the workflow isn't merged to main, if you want to fire it whenever a push occurs, DON'T use the below line
    # The paths: key is for fine-tuning. For this file, we limit the workflow to fire under a push ONLY when that push includes a change to './github/workflows/non-main-workflow.yml'
    paths: 
      - './github/workflows/non-main-workflow.yml'
    

jobs:
  non-main-job:
    name: "Non-main job"
    runs-on: ubuntu-latest
    steps:
        
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Ping target destination
          run: |
            http_status_code=$(curl -s -o /dev/null -w "%{http_code}" https://bored-api.appbrewery.com/randomaaaaaaaaaaaaaaaaaaaa)
            echo "http_status_code = $http_status_code"

        - name: Grant 'runner' user exec permissions
          run: chmod u+x ./scripts/server-checks.sh

        - name: Perform server checks
          run: ./scripts/server-checks.sh